@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
    font-family: 'FishOutOfWater';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/assets/css/fonts/FishOutOfWater-Regular.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterBold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/assets/css/fonts/FishOutOfWater-Bold.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterDemiBold';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/assets/css/fonts/FishOutOfWater-Demibold.woff") format("woff");
}

body {
    background-color: #007bff;
    color: #00ffef;
}

header {
    margin-top: 0;
    background-color: darkblue;
}

header, h1 {
    font-family: 'FishOutOfWaterBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #01ffff;
    text-align: center;
    margin-bottom: 0px;
    /* padding-top: 30px; */
}

header, h2 {
    font-family: 'FishOutOfWaterDemiBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 75px;
    color:#01ffffe4;
    text-align: center;
    /* padding-bottom: 30px; */
}
#game-area {
    margin-top: 55px;
    margin-bottom: 50px;
}

/* code snippet modeled after from https://codeinstitute.com/ Rosie resume tutorial */

#game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    min-height: 360px;
    background-repeat: no-repeat;
    z-index: -1;
    text-align: center;
    width: 100%;
}

/* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.container {
  position: relative;
  /* margin-bottom: 230px; */
  /* display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); */
  /* grid-gap: 1em; */

} 
    
/* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
} 

/* code snipper from Code Insitutute 'Method Chaining - Challenge 2' */
/* #wrapper {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

@media screen and (min-width: 1200px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
} */

/* code snipper from Code Insitutute 'Method Chaining - Challenge 2' */
/* .card {
    margin-top: 10px;
    padding: 20px;
    background-color: #00008b;
}

.card p {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#instructions {
    margin-bottom: 15px;
    margin-top: 45px;
    display: none;
}
#how-to-div {
    margin-bottom: 0px;
} */



#topleft, #topright, #bottomleft, #bottomright {
    padding: 0;
    border: 10px solid #00ffff;
}

/* @media screen and (max-width: 380px) {
    #game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
        width: auto;
        float: none;
        margin: 0;
        height: 95px;
    }
  } */

#game-photo-1 {
    background: url("../images/beluga.jpeg");
}

#game-photo-2 {
    background: url("../images/orca.jpeg");
}

#game-photo-3 {
    background: url("../images/rightwhale.jpeg");
} 

#game-photo-4 {
    background: url("../images/spermwhale.jpeg");
}

.my-col {
    text-align: center;
}

#score-board {
    top: 30px; 
    font-size: 25px; 
    border:2px solid;
    text-transform:uppercase;
    font-family: 'Michroma';
    background: #00008b;
}

#round {
    top: 30px; 
    font-size: 35px; 
    border:2px solid;
    text-transform:uppercase;
    font-family: 'Michroma';
    background: #0000ff;
    min-height: 60px;
}

.btn p {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: azure;
}

.btn-warning {
    color: #7dfff4;
    background-color: #00008b;
    /* border-radius: 1rem; */
    font-family: 'Michroma';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

.btn-outline-warning {
    text-transform: uppercase;
}

.btn-outline-primary {
    text-transform: uppercase;
    color: #01ffff;
    background-color: #00008b;
    border-color: #01ffff;
}
  
@media screen and (max-width: 768px) {
    header, h1 {
      font-size: 60px;
      width: 100%;
    }
    header, h2 {
        font-size: 35px;
        width: 100%;
      }
      #game-area {
        margin-top: 10px;
    }
  }

@media screen and (max-width: 540px) {
    header, h1 {
      font-size: 40px;
      width: 100%;
      }
    header, h2 {
      font-size: 25px;
      width: 100%;
      }
    #game-area {
      margin-top: 10px;
      }
    #game-photo-1, #game-photo-2, #game-photo-3, #game-photo-4 {
      min-height: 180px;
      }
    #game-area, .row, .panel p {
        font-size: 17px;
      }
    .btn, .btn-lg, .btn-warning {
          font-size: 17px;
      }
  }